<h1>Category</h1>
<%= bootstrap_form_for(@category) do |form| %>
  <div class="col-md-6">
    <%= form.text_field :name, placeholder: "name" %>
  </div>
  <div class="col-12">
    <%= form.submit "Create", :class => "btn btn-success", :style => "margin-top: 25px;" %>
  </div>
<% end %>

</br>
<%= button_to 'Return', categories_path, method: 'get', :style => "width: 100px; float: right;", :class => "btn btn-secondary"%>